<div>
	<div class="jumbotron">
		<div class="container text-center" ng-show="gameStarted">

			<h1 class="text-center">Guess <span ng-bind="mixedWord"></span></h1>

			<!--<form role="form" ng-submit="submit()">-->

			<div class="form-content">
				<div class="form-group">
					<input type="text" ng-keyup="evaluate($event)" class="form-control input-underline input-lg" style="width:auto;margin:auto"
						ng-model="userInput.value" placeholder="Enter the correct word">
				</div>
			</div>

			<!--<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Proceed</button>-->

			<!--</form>-->
		</div>
		<button type="button" ng-click="start()" class="btn btn-white btn-outline btn-lg btn-rounded">Start</button>

	</div>
</div>